@media (max-width: 400px) {
    main section .cards-container {
        flex-direction: column;
    }
    main section .cards-container .card{
        width: 100% !important;
    }
}
@media (min-width: 401px) and (max-width: 778px) {
    main section .cards-container .card{
        width: 45% !important;
    }
}
@media (min-width: 778px) and (max-width: 1200px) {
    main section .cards-container .card{
        width: 25% !important;
    }
}