:root {
    --bg-color: #caf0f8;
    --header-bg-color: #0077b6;
    --color-white: #fff;
    --card-bg-color: #00b4d8;
}
body{
    background-color: var(--bg-color);
}
main header {
    height: 10vh;
    background-color: var(--header-bg-color);
}

main header .search-container .list-group,
input[type='search'] {
    max-width: 73.5%;
}

main header .search-container .hidden {
    display: none;
}

main header .search-container .list-group {
    width: 75%;
    z-index: 999;
    background-color: var(--color-white);
}

main header .search-container .list-group .list-group-item {
    cursor: pointer;
    border-radius: 0.5em;
}

main header .search-container .list-group .list-group-item:hover {
    background-color: #0077b6;
    color: var(--color-white);

}   

main section .cards-container .card {
    background-color: var(--card-bg-color);
    color: var(--color-white);
    transition: 0.3s all ease-out;
}
main section .cards-container .card:hover {
    transform: scale(1.05);
}