:root {
    --main-color: #242323;
    --text-color: #fff;
    --special: gold;
}

.container {
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
    background-image: url('https://imgs.search.brave.com/bt-bCtiSddTj-SVp2ZCZpqFoxV7_3LuKMTWWCXdFyyo/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/cmQuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIxLzA0L0dl/dHR5SW1hZ2VzLTEx/NTI4NjcyMTMtc2Nh/bGVkLmpwZw');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 100%;
}

.container h1 {
    color: var(--special)
}