.cardStyle {
    width: 25rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.image {
    width: 100%;
    background-size: cover;
    border-radius: 1.5rem;
    outline: none !important;
    border: none !important;
}

.cardOverlay{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: #000000a1;
    border-radius: 1.5rem;
    opacity: 0;
    z-index: 999;
    transition: 0.2s all ease;

}

.cardStyle:hover {
    transform: scale(1.03);
}

.cardOverlay:hover {
    opacity: 1;
}


