/*                      ========== Start Of Activity Styles ========== 
main .header-bg .container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"
    ;
    text-align: center;
    color: whitesmoke;
}

main .header-bg .container .header {
    background-color: rgb(168, 8, 8);
    grid-area: header;
}
main .header-bg .container .main {
    background-color: rgb(8, 117, 168);
    grid-area: main;
}
main .header-bg .container .sidebar {
    background-color: rgb(7, 192, 31);
    grid-area: sidebar;
}
main .header-bg .container .footer {
    background-color: rgb(80, 4, 151);
    grid-area: footer;
}
/*                      ========== Start Of Flexbox Activity Styles ========== 
